#mtffooter {
    background: black;
    border-radius: 0;
    position:relative;
    left:0;
    bottom:0;
    right:0;
}

#footer-logo {
    justify-content:center;
    align-items:center;
    text-align: center;
}